*{
    margin: 0;
    padding: 0;
}


.body{
    background-color: rgb(17, 99, 252);
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(18, 43, 209);
    background-position: center;
    position: absolute;
}
.form-box{
    width: 100%;
    max-width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
    height: 500px;
}
.input-field{
    background: white;
    margin: 20px 0 20px;
    border-radius: 10px;
    align-items: center;
    max-height: 350px;
    
}
.form-box h1{
    font-size: 30px;
    margin: bottom 80px;
    font-weight: solid;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    

}
.form-box h1 ::after{
    
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -5px;
    left: 50px;
    

}


.input{
    width: 100%;
    background: transparent;
    border-radius: 10px;
    border: 0;
    outline: 0;
    padding: 19px 16;


}
.input-field i{
    margin-left: 15px;
    color:#997;
    justify-content: center;
    text-align: center;
    
    
    
}
.input-group{
    size: 50px;
    margin-top: 25px;
}
.input-field{
    display: flex;
    gap: 10px;
    margin-left: 0px; 
}
.email{
    font-size: 20px;
    height: 45px; 
    width: 390px;
    margin-left: -40px;
    text-indent: 10px;
    border-style: double;
    border-radius: 8px;
    margin-left: -35px;
    margin-bottom: 17px;
}
.passward{
    font-size: 20px;
    height: 45px;
    width: 390px;
    border-style: double;
    border-radius:8px;
    margin-left: -35px;
    text-indent: 10px;
    margin-bottom: 17px
}
.cpassward{
    font-size: 20px;
    height: 45px;
    width: 390px;
    border-style: double;
    border-radius:8px;
    margin-left: -35px;
    text-indent: 10px;
    margin-bottom: 3px;
}
.signupbtn{
    width: 393px;
    height: 50px;
    color: whitesmoke;
    background-color:rgb(17, 56, 252);
    margin-left:-35px;
    border-radius: 8px;
    margin-top: 15px;
    color: rgb(47, 203, 250);
    font-weight: 900;
    margin-bottom: 10px
}
.para{
    display:inline-block;
    text-decoration: none;
    
}
.buttona{
    display:inline-block;
    margin-bottom: 50px;
    text-decoration: none;
}
#title{
    font-weight:800;
    font-size: 22px;
    margin-top: -25px;
}

.fbbtn {
    background-color: #3B5998;
    color: white;
    width: 390px;
    height: 35px;
    display: flex;
    margin-left:-37px;
    margin-bottom: 18px;
    border-radius: 8px;
    display:block;
    text-align:center;
    text-decoration: none;
    padding-top: 18px;
    
    
  }
  .googlebtn {
    width: 393px;
    height: 35px;
    background-color: #f1eeed;
    color: rgb(83, 82, 82);
    display: flex;
    width: 390px;
    margin-left:-37px;
    border-radius: 8px;
    display: block;
    padding-top: 18px;
    text-decoration: none;
    border-color: black;
    border: rgb(83, 82, 82);

  }
.line{
    display: flex;
}
.line1{
    width: 125px;
    margin-bottom: 50px;
}
.pa{
    gap: 100px;
    margin-left: 30px;
    margin-top: -10px;
}
.line2{
    width: 125px;
    margin-left: 30px;
    margin-bottom: 50px;
    
}